.space {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2dvh;
}

.form-group label {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #0b2158;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }